.search-form{
    width: 100%;
    max-width: 600px; /* Reduce the max-width as needed */
}

.search-form-elem{
    padding: 0.5rem 1rem; /* Adjust the padding as needed */
    border-radius: 1.5rem; /* Adjust the border-radius as needed */
}

.search-form-elem .form-control{
    font-size: 1.2rem; /* Adjust the font size as needed */
    padding: 0.4rem; /* Adjust the padding as needed */
}

.search-form-elem .form-control::placeholder{
    opacity: 0.9;
}
